<!-- nav.html -->
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container d-flex justify-content-between align-items-center">
        <!-- Левый блок -->
        <a class="navbar-brand" href="/">Цветочный магазин</a>

        <!-- Центральный блок -->
        <div class="nav-center">
            <ul class="navbar-nav">
                <li class="nav-item"><a class="nav-link" href="/">Главная</a></li>
                <li class="nav-item"><a class="nav-link" href="/flower/">Каталог</a></li>
                <li class="nav-item"><a class="nav-link" href="{% url 'cart' %}">Корзина ({{ request.session.cart|length|default:0 }})</a></li>
            </ul>
        </div>

        <!-- Правый блок -->
        <li class="last"><a href="{% url 'users:profile' %}">{{user.username}}</a></li>
        <div class="nav-right">
            <form action="{% url 'users:logout' %}" method="post" style="display: inline;">
                {% csrf_token %}
                <button type="submit" class="btn-link">Выйти</button>
            </form>
            <form action="{% url 'users:login' %}" method="post" style="display: inline;">
                {% csrf_token %}
                <button type="submit" class="btn-link">Авторизация</button>
            </form>
        </div>
    </div>
</nav>